---
layout: default
title: Gistlerim
---

<h1 id="gist"> <TMPL_VAR labels ESCAPE="HTML"> </h1>

<div id="accordion"> 
<TMPL_LOOP Gists>
	<h3><a href="#"><TMPL_VAR description ESCAPE="HTML"></a></h3>
	<div><script src="https://gist.github.com/<TMPL_VAR id ESCAPE="HTML">.js"></script> </div>
</TMPL_LOOP>
