<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr" lang="tr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ site.param.fullname }}" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/chrome/site.css"   type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/chrome/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/chrome/local.css"  type="text/css" media="screen, projection" />
  <style>
  </style>
<script type="text/javascript">

$(document).ready(function() {
 // hides the slickbox as soon as the DOM is ready
  $('#slickbox').hide();
 // shows the slickbox on clicking the noted link  
  $('#slick-show').click(function() {
    $('#slickbox').show('slow');
    return false;
  });
 // hides the slickbox on clicking the noted link  
  $('#slick-hide').click(function() {
    $('#slickbox').hide('fast');
    return false;
  });
 
 // toggles the slickbox on clicking the noted link  
  $('#slick-toggle').click(function() {
    $('#slickbox').toggle(400);
    return false;
  });
});

</script>
</head>
<body>
  <div class="site">
    {% unless site.param.logo == null %}
    <a href="/" title="logo" id="logo" style="background-image:url('{{ site.param.logo }}');"></a>
    {% endunless %}

    {{ content }}

    <div class="footer">
      <div class="contact">
	<p>
	  {{ site.param.fullname }}<br />
	  {{ site.param.title }}<br />
	  {% if site.param.email %}
	    <a href="mailto:please.no.spam.please{{ site.param.email }}please.no.spam.please"
	      onclick="this.href=this.href.replace(/please[.]no[.]spam[.]please/gi,'')"
	      title="Lütfen e-posta göndermek için tıklayın" >
	    E-posta adresi</a><br />
	  {% endif %}
	  {% if site.param.gpg %}
	    GnuPG ortak anahtar
	  {% endif %}
	</p>
      </div>
      <div class="contact">
	<p>
	  <a href="http://github.com/{{ site.account }}/">github.com/{{ site.account }}</a><br />
	  <a href="{{ site.param.twitter }}/">{{ site.param.twitter }}</a><br />
	  {% if site.param.flickr %}
	    <a href="{{ site.param.flickr }}/">{{ site.param.flickr }}</a><br />
	  {% endif %}
	  {% if site.param.gpg %}
	    <a href="{{ site.url }}/{{ site.param.user }}.asc"><code>{{ site.param.gpg }}</code></a>
	  {% endif %}
	</p>
      </div>

      {% unless site.param.google == null %}
      <div class="google">
      <form action="http://www.google.com/search" id="search" method="get">
	<input class="text" name="q" type="text" />
	<input name="sitesearch" type="hidden" value="{{ site.url }}" />
	<input class="button" type="submit" value="Ara" />
      </form>
      </div>
      {% endunless %}
    </div>
  </div>

  {% unless site.param.ribbon == null %}
  <div class="ribbon">
    <a href="http://github.com/{{ site.account }}/{{ site.repository }}" rel="me" alt="{{ site.param.ribbon }}">{{ site.param.ribbon }}</a>
  </div>
  {% endunless %}
  {% unless site.param.googleanalyticsid == null %}
  <!-- Google Analytics start -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.param.googleanalyticsid }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Google Analytics end -->
  {% endunless %}
</body>
</html>
